<div class="almostJumbotron">
        <div class="form-group">
            <input type="text" name = "nome" class="form-control" placeholder="Nome" data-ng-model="usuario.nome" >
         </div>
        <div class="form-group">
            <input type="text" name = "email" class="form-control" placeholder="Email" data-ng-model="usuario.email" >
        </div>
        <div class="form-group">
            <input type="text" name = "senha" class="form-control" placeholder="Senha" data-ng-model="usuario.senha" >
         </div>
        <div class="form-group">
            <input type="text" name = "numeroMatricula" class="form-control" placeholder="Nº Matricula" data-ng-model="usuario.matricula" >
        </div>

        <div class="form-group">
            <input type="text" name = "rua" class="form-control" placeholder="Rua" data-ng-model="usuario.rua" >
        </div>

        <div class="form-group">
            <input type="text" name = "bairro" class="form-control" placeholder="Bairro" data-ng-model="usuario.bairro" >
        </div>

        <form class="form-inline" role="form">

            <div class="form-group">
                <input type="text" name = "telefone" class="form-control" placeholder="Telefone" data-ng-model="usuario.telefone" >
            </div>
            <div class="form-group" ng-if="minhasOpcoes=='motorista'">
                <input type="text" name = "vagas"  class="form-control" placeholder="Nº Vagas" data-ng-model="usuario.vagas" >
            </div>


         </form>
    <br>
        <select ng-model="minhasOpcoes">
            <option value="passageiro">Passageiro</option>
            <option value="motorista">Motorista</option>
        </select>
        <button type="submit" class="btn btn-default"  style="color: #2aabd2;"  data-ng-click="cadastrar(usuario)">Cadastro </button>


</div>


