<div class="center">
  <h1 class="borda-2px" style="color: #fffbf9 ;text-align: center; font-family: Goudy Stout; "> Cadastro! </h1>
</div>
<br>
<br>

<div class="almostJumbotron">
  <form name="form">
    <div data-ng-show="error" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <div class="form-group">
      <input type="text" name = "nome" class="form-control" placeholder="Nome" required ng-model="usuario.nome">
    </div>
    <div class="form-group">
      <input type="text" name = "email" class="form-control" placeholder="Email" required ng-model="usuario.email">
    </div>
    <div class="form-group">
      <input type="text" name = "senha" class="form-control" placeholder="Senha" required ng-model="usuario.senha">
    </div>
    <div class="form-group">
      <input type="text" name = "numeroMatricula" class="form-control" placeholder="Nº Matricula" required ng-model="usuario.matricula">
    </div>

    <div class="form-group">
      <input type="text" name = "rua" class="form-control" placeholder="Rua" required ng-model="usuario.endereco.rua">
    </div>

    <div class="form-group">
      <input type="text" name = "bairro" class="form-control" placeholder="Bairro" required ng-model="usuario.endereco.bairro">
    </div>

    <div class="form-group">
      <input type="number" name = "telefone" class="form-control" placeholder="Telefone" required ng-model="usuario.telefone">
    </div>
    <!--<div class="form-group" id="vagas">
      <input ng-if="opcao.value == 'Motorista'" type="number" name = "vagas"  class="form-control" required placeholder="Nº Vagas" ng-model="vagas">
    </div>

    <select ng-model="opcao" ng-options="opt.value for opt in options">
    </select>
-->

    <input type="submit" class="btn btn-primary" value="Ok" data-ng-disabled="form.nome.$error.required ||
            form.email.$error.required || form.senha.$error.required || form.numeroMatricula.$error.required ||
            form.rua.$error.required  || form.bairro.$error.required || form.telefone.$error.required"
           ng-click="cadastrar(usuario)">
  </form>

</div>
