
<body
<div class="container">
    <div class="modal-dialog" style="left:0px; width: 500px">
        <div class="modal-content">
            <div class="panel panel-info" >
                <div>
                    <form>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="diasSemana"> <h5><b>
                                    Dia Da Semana</b></h5></label>
                                <select class="form-control" ng-model="horario.DiaDaSemana" ng-options="opt.value for opt in diaSemanas">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="horario"> <h5><b>
                                    Aula </b></h5></label>
                                <select class="form-control" ng-model="horario.aula" ng-options="opt.value for opt in horarios">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="vagas"> <h5 ><b>
                                    Vagas </b></h5></label>
                                <select class="form-control" ng-model="vagas" ng-options="opt.value for opt in NumVagas">
                                </select>
                            </div>



                            <div class="form-group">
                                <label for="tipoCarona"> <h5><b>
                                    Tipo de Carona</b></h5></label>
                                <div class="radio">
                                    <label><input type="radio" name="optradio" ng-model="opcaoCarona" value=0>Ida</label>
                                </div>
                                <div class="radio" ng-model="opcaoCarona" value="volta">
                                    <label><input type="radio" name="optradio" ng-model="opcaoCarona" value=1>Volta</label>
                                </div>
                            </div>

                            <button name="salvar" class="btn btn-info center-block" ng-click="tab=2">
                                Novo Endereco
                            </button>
                            <br>
                            <br>
                            <div class="form-group"  ng-show="tab == 2">
                                <input type="text" name = "rua" class="form-control" placeholder="Rua" required ng-model="usuario.endereco.rua">
                            </div>

                            <div class="form-group"  ng-show="tab == 2">
                                <input type="text" name = "bairro" pattern=".{4,}" class="form-control"
                                       placeholder="Bairro" required ng-model="usuario.endereco.bairro">
                            </div>

                            <div class="form-group">
                                <label for="tipoCarona"> <h5><b>
                                    Rotas</b></h5></label>

                                <select class="form-control" ng-model="rota" ng-options="opt.value for opt in bairros">
                                </select>

                                <br>
                                <button name="Adicionar" class="btn btn-default" ng-click="adicionarRotas(rota)">
                                    Add
                                </button>
                                <button name="Deletar" class="btn btn-default " ng-click="removerRota()">
                                    Del
                                </button>
                            </div>

                            <div class="panel panel-primary">
                                <table class="table table-striped" id="tableRota">
                                    <td  ng-repeat="opt in routes"><input type="checkbox" ng-model="opt.selected"> {{opt.value}}</td>
                                </table>
                            </div>

                        </div>
                    </form>
                </div>

                <button name="salvar" class="btn btn-success center-block" ng-click="salvarCarona()">
                    Salvar
                </button>
                <button name="salvar" class="btn btn-danger center-block" ng-click="trocarRota('buscar')">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
</body>
