
<body>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2 col-md-offset-1">
        <div class="panel panel-info" style="background-color: transparent" >
          <form action="/horario" method="post">
            <div class="form-group">
              <div data-ng-show="error" class="alert alert-danger">
                {{errorMessage}}
              </div>
              <div class="form-group">
                <label for="diasSemana"> <h5 style ="color: #2aabd2;"><b>
                  Data</b></h5></label>
                <input type="text" ng-model="data" jqdatepicker />
                <br/>
                <br/>
              </div>


              <div class="form-group">
                <label for="horario"> <h5 style ="color: #2aabd2;"><b>
                  Horario </b></h5></label>
                <uib-timepicker ng-model="hora" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
              </div>

              <label for="tipoCarona"> <h5 style ="color:  #2aabd2;"><b>
                Tipo de Carona</b></h5></label>

              <br>

              <div class="radio">
                <label><input type="radio" name="optradio" ng-model="opcaoCarona" value="Ida">Ida</label>
              </div>
              <div class="radio" ng-model="opcaoCarona" value="volta">
                <label><input type="radio" name="optradio" ng-model="opcaoCarona" value="Volta">Volta</label>
              </div>

            </div>


            </form>
            <button id="singlebutton" name="salvar" class="btn btn-primary center-block" ng-click="salvarCarona()">
              Salvar
            </button>
        </div>
      </div>
    </div>
  </div>
</body>

