<body xmlns:br="http://www.w3.org/1999/html">

<div class="row">
  <div class="col-md-12">
    <div id="bemVindo">
      <h3>
        Bem-vindo , [Nome do usuário]!
      </h3>
      <br>
      <h4>Aqui você encontra informações, bem como pode pedir ou criar uma carona</h4>
    </div>
  </div>

  <div class="col-md-12">
    <br>
  </div>

  <div class="col-md-2 col-md-offset-1">
    <div class="form-group">
      <button name="salvar" class="btn btn-info center-block" data-toggle="modal" data-target="#modalCarona" ng-click="trocarRota('OferecerCarona')">
        Oferecer Carona
      </button>
      <br>
      <br>
      <br>
      <br>
      <button name="salvar" class="btn btn-warning center-block" ng-click="trocarRota('gg')">
        Buscar Carona
      </button>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-0">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span> Caronas
      </div>

      <div class="container">
      <ul class="tabs-nav">
          <li><a ng-click="tab=1" ng-class="{'active' : tab==1}">Motorista</a></li>
          <li><a ng-click="tab=2" ng-class="{'active' : tab==2}">Passageiro</a></li>
      </ul>

      <div class="tabs-container">
          <div class="tab-content" ng-show="tab == 1">
              <div class="panel-body">
                <table class="table table-striped" id="tabelaHorario">
                  <thead>
                  <tr style="color:#ffffff">
                    <th class="item" >Dia Semana</th>
                    <th class="item" >Aula</th>
                    <th class="item" >Tipo</th>
                    <th class="item" >Vagas</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="caro in caronas">
                    <td class="item">{{caro.horario.dia}}</td>
                    <td class="item">{{caro.horario.aula}}</td>
                    <td class="item">{{caro.horario.tipo}}</td>
                    <td class="item">{{caro.vagas}}</td>
                    <td class="item"> Motorista</td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      </div>
   </div>
</div>


</body>
