<body xmlns:br="http://www.w3.org/1999/html">
<div class="row">
  <div class="col-md-12">
    <div id="bemVindo">
      <h3>
        Bem-vindo à página de horários!

      </h3>
      <h4>Aqui você pode cadastrar e ver informações sobre seus horários</h4>

    </div>
  </div>

  <div class="col-md-12">
    <br>


  </div>

  <div class="col-md-2 col-md-offset-1">
    <div class="panel panel-info" style="background-color: transparent" >
      <form action="/horario" method="post">
        <div class="form-group">
          <div data-ng-show="error" class="alert alert-danger">
            {{errorMessage}}
          </div>
          <div class="form-group">
            <label for="diasSemana"> <h5 style ="color: #2aabd2;"><b>
              Data</b></h5></label>
            <input type="text" ng-model="data" jqdatepicker />
            <br/>
            <br/>
          </div>


          <div class="form-group">
            <label for="horario"> <h5 style ="color: #2aabd2;"><b>
              Horario </b></h5></label>
            <uib-timepicker ng-model="hora" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
          </div>

          <label for="tipoCarona"> <h5 style ="color:  #2aabd2;"><b>
            Tipo de Carona</b></h5></label>

          <br>

          <div class="radio">
            <label><input type="radio" name="optradio" ng-model="opcaoCarona" value="Ida">Ida</label>
          </div>
          <div class="radio" ng-model="opcaoCarona" value="volta">
            <label><input type="radio" name="optradio" ng-model="opcaoCarona" value="Volta">Volta</label>
          </div>

        </div>


      </form>
      <button id="singlebutton" name="salvar" class="btn btn-primary center-block" ng-click="salvarCarona()">
        Salvar
      </button>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-0">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span> Caronas
      </div>

      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr style="color:#00A000">
            <th>Dia</th>
            <th>Dia Semana</th>
            <th>Hora</th>
            <th>Tipo</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="caro in horarios">
            <td>{{caro.data | date:"dd/MM/yyyy"}}</td>
            <td>{{caro.data | date:'EEEE'}}</td>
            <td>{{caro.hora | date:'HH:mm' }}</td>
            <td>{{caro.tipo}}</td>

          </tr>


          </tbody>
        </table>
      </div>

  </div>
  <div class="col-md-2">
    <div class="panel panel-info" style="background-color: transparent" >
      <div class="form-group">
        <label for="rotas"> <h5 style ="color: #2aabd2;"><b>
          Rotas</b></h5></label>
        <select class="form-control" ng-model="bairro" ng-options="opt.value for opt in bairros">
        </select>

        <br>
        <button name="adicionar" class="btn btn-primary " ng-click="adicionarRotas(bairro)">
          Add
        </button>
        <button name="remover" class="btn btn-primary " ng-click="removerRota()">
          Del
        </button>
      </div>

      <div class="panel panel-primary">
        <table class="table table-striped" id="tabelaRotas" scrolling="yes">
          <div  class="form-control" ng-repeat="opt in routes">
            <input type="checkbox" ng-model="opt.selected"> {{opt.value}}
          </div>
        </table>
      </div>
    </div>
  </div>
</div>

</body>
