<body>

<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="team-member">
      <img class="thumb img-circle" src="img/lewis.jpg" alt="James Lewis">
      <h4>James Lewis</h4>
      <span class="text-muted">Financial Director</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="social-buttons">
        <a href="#" class="social-btn sb-linkedin sb-sm"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-btn sb-email sb-sm"><i class="fa fa-envelope"></i></a>
        <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="team-member">
      <img class="thumb img-circle" src="img/williams.jpg" alt="Angela Williams">
      <h4>Angela Williams</h4>
      <span class="text-muted">Marketing Director</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="social-buttons">
        <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-btn sb-google-plus sb-sm"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="social-btn sb-instagram sb-sm"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="team-member">
      <img class="thumb img-circle" src="img/jones.jpg" alt="Edward Jones">
      <h4>Edward Jones</h4>
      <span class="text-muted">Chief Engineer</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="social-buttons">
        <a href="#" class="social-btn sb-twitter sb-sm"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-btn sb-github sb-sm"><i class="fa fa-github-alt"></i></a>
        <a href="#" class="social-btn sb-google-plus sb-sm"><i class="fa fa-google-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3">
    <div class="team-member">
      <img class="thumb img-circle" src="img/oldman.jpg" alt="Natali Oldman">
      <h4>Natali Oldman</h4>
      <span class="text-muted">Art Director</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="social-buttons">
        <a href="#" class="social-btn sb-instagram sb-sm"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-btn sb-dribbble sb-sm"><i class="fa fa-dribbble"></i></a>
        <a href="#" class="social-btn sb-facebook sb-sm"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
</div><!-- Content End -->



</body>
