<body>

<div class="containerAjuste">
  <br>
  <h1 >DEVELOPERS</h1>
  <hr>
  <div class="row">

    <div ng-repeat="membro in membrosTime">
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading" class="nome">
            <b class="nome">Team</b>
          </div>

          <div class="panel-body">
              <img class="img img-circle center-block" ng-src="{{membro.foto}}" height="120px" width="120px" alt="">
              <br>
              <h4 class="nome"><b>{{membro.nome}}</b></h4>
            <ul class="nome">
              <a ng-href="{{membro.github}}" class="btn btn-social-icon btn-github">
                <span class="fa fa-github"></span>
              </a>
              <a  ng-href="mailto:{{ membro.mail }}"class="btn btn-social-icon btn-google">
                <span class="fa fa-google"></span>
              </a>
              <a ng-href="{{membro.facebook}}" class="btn btn-social-icon btn-facebook">
                <span class="fa fa-facebook"></span>
              </a>
            </ul>
          </div><!-- col-lg-3 -->
          </div>
        </div>
  </div>

  </div><!-- row -->
</div><!-- container -->


</body>
