* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: #fff;
    font: 13px Arial, Tahoma, sans-serif;
}
.container {
 /*   padding: 50px;*/
    margin: auto;
}

.tabs-container {
    position:relative;
    right: -20px;
}

.tabs-nav {
    padding: 15px 0 0;
    list-style: none;
    position:relative;
    right: -20px;
}
.tabs-nav li {display: inline;}
.tabs-nav a {
    display:inline-block;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #fff;
    background: rgba(20, 144, 64, 0.7);
}

.tabs-nav .active {
    background: #fff;
    color: rgba(20, 144, 64, 0.7);
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-content{
    border: 1px solid #ddd;
    width: 10px;
    height: 350px;
  /*  padding: 20px;*/
}


#tabelaHorario{
    display: block;
    height: 250px;
    padding-top: 5px;
    overflow-y: scroll;
}

.item {
    width: 120px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

.panel-heading {
    position:relative;
    right: -50px;
}
