.centered {
  text-align: center;
}

.row {
  margin-right: 0px;
  margin-left: -15px;
}

#ids {
 margin-right: 10px;
}

.btn {
  margin-right: 10px;
  align-content: center;
}
/*
.panel-body{
  display: block;
  margin: 0 auto;
  /*width: 200px
}*/

.nome {
  text-align: center;
}
