<div class="center">
  <H2 class="borda-2px" id = titleCadastro translate='cadastro.title'></H2>  
</div>
<br>
<br>
<br>

<div class="almostJumbotron">
  <form name="form">

    <div class="form-group">
      <div data-ng-show="error" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <input type="text" name = "nome" class="form-control" placeholder="Nome" required ng-model="usuario.nome">
    </div>
    <div class="form-group">
      <input type="email" name = "email" class="form-control" placeholder="Email"
 -           title="Preencha com um email válido. Exemplo caroname@caroname.com"             
             required ng-model="usuario.email">             
    </div>

    <div class="form-group">
      <input type="password" name = "senha" class="form-control" placeholder="Senha"
 -             title="Pelo menos 8 characteres" pattern=".{8,}" required ng-model="usuario.senha">
    </div>

    <div class="form-group">
      <input type="text" name = "numeroMatricula" class="form-control" placeholder="Nº Matricula"
 -            title="Digite os 9 números da sua matrícula da UFCG" pattern="[1-7,9][0-1][0-6][0-1][1-4][0-9]{4}"              
             maxlength="9"  required ng-model="usuario.matricula">
    </div>

    <div class="form-group">
     <input type="text" name = "rua" class="form-control" placeholder="Rua" required ng-model="usuario.endereco.rua">
    </div>

    <div class="form-group">
      <select class="form-control" ng-model="usuario.endereco.bairro" ng-options="opt.value for opt in bairros">
      </select>
    </div>

    <div class="form-group">
      <input type="text" name = "telefone" class="form-control" placeholder="Telefone sem ddd" maxlength="9"
             pattern="[0-9]{8,9}" title="Digite os números do seu telefone" required ng-model="usuario.telefone">
    </div>
    
    <input type="submit" class="btn btn-default" value="Ok" data-ng-disabled="form.nome.$error.required ||
              form.email.$error.required || form.senha.$error.required || form.numeroMatricula.$error.required ||
              form.rua.$error.required  || form.bairro.$error.required || form.telefone.$error.required"
           ng-click="cadastrar(usuario)">           
  </form>

</div>
