
<body>
<div class="almostJumbotron">
            <div class="panel panel-info" id="panelCarona" >
                <div>
                    <form name="form">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="diasSemana"> <h5><b>
                                    {{ 'diaDaSemanaComplete' | translate }}</b></h5></label>
                                <select class="form-control" ng-model="horario.DiaDaSemana" ng-options="opt.value for opt in diaSemanas">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="horario"> <h5><b>
                                    {{ 'aula' | translate }} </b></h5></label>
                                <select class="form-control" ng-model="horario.aula" ng-options="opt.value for opt in horarios">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="vagas"> <h5 ><b>
                                    {{ 'vagas' | translate }} </b></h5></label>
                                <select class="form-control" ng-model="vagas" ng-options="opt.value for opt in NumVagas">
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="tipoCarona"> <h5><b>
                                    {{ 'tipoDeCarona' | translate }}</b></h5></label>
                                <div class="radio">
                                    <label><input type="radio" name="optradio" ng-model="opcaoCarona" value=0 >{{ 'tipoDeCarona.ida' | translate }}</label>
                                </div>
                                <div class="radio" ng-model="opcaoCarona" value="volta">
                                    <label><input type="radio" name="optradio" ng-model="opcaoCarona" value=1 >{{ 'tipoDeCarona.volta' | translate }}</label>
                                </div>
                            </div>

                            <button name="salvar" ng-show="opcaoCarona==1" class="btn btn-info center-block" ng-click="tabs=!tabs">
                                {{ 'endereco' | translate }}
                            </button>

                            <div class="form-group"  ng-show="!tabs">
                                <br>
                                <input type="text" name = "rua" class="form-control" placeholder="Rua" required ng-model="rua">
                            </div>

                            <div class="form-group"  ng-show="!tabs">
                                <select class="form-control" ng-model="bairro" ng-options="opt.value for opt in bairros">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tipoCarona"> <h5><b>
                                    {{ 'tipoDeCarona' | translate }}</b></h5></label>

                                <select class="form-control" ng-model="rota" ng-options="opt.value for opt in bairros">
                                </select>

                                <br>
                                <button name="Adicionar" class="btn btn-default" ng-click="adicionarRotas(rota)">
                                    {{ 'adicionar' | translate }}
                                </button>
                                <button name="Deletar" class="btn btn-default " ng-click="removerRota()">
                                    {{ 'remover' | translate }}
                                </button>
                            </div>

                            <div class="panel panel-primary">
                                <table class="table table-striped" id="tableRota">
                                    <td  ng-repeat="opt in routes"><input type="checkbox" ng-model="opt.selected"> {{opt.value}}</td>
                                </table>
                            </div>

                        </div>
                    </form>
                </div>

                <button name="salvar" data-ng-disabled="form.rua.$error.required" class="btn btn-success center-block" ng-click="salvarCarona()">
                    {{ 'salvar' | translate }}
                </button>
                <button name="cancelar" class="btn btn-danger center-block" ng-click="cancelar()">
                    {{ 'cancelar' | translate }}
                </button>
            </div>

</div>
</body>
