<body xmlns:br="http://www.w3.org/1999/html">

<div class="row">
  <div class="col-md-12">
    <div id="bemVindo">
      <h3>
        {{ 'horario.bemvindo' | translate }}, {{usuario.nome}}!
      </h3>
      <br>
      <h4>{{ 'horario.saudacao' | translate }}</h4>
    </div>
  </div>

  <div class="col-md-12">
    <br>
  </div>

  <div class="col-md-2"  id="fixaPanel">
    <div class="panel panel-info" id = "tab1">
        <div class="form-group" >
          <button id ="oferecerCarona" name="salvar"
                  class="btn btn-default center-block" data-toggle="modal"
                  data-target="#modalCarona" ng-click="trocarRota('OferecerCarona')" translate='horario.oferecer'>            
          </button>
          <br>
          <br>
          <button id = "buscarCarona"
                  name="salvar" class="btn btn-default center-block" ng-click="trocarRota('gg')" translate='horario.buscar'>          
          </button>
        </div>
    </div>
  </div>

  <div class="col-md-6">

      <div class="container">
      <ul class="tabs-nav">
          <li><a ng-click="horariosMotoristas()" ng-class="{'active' : tab==1}" translate='horario.motorista'></a></li>
          <li><a ng-click="horariosPassageiro()" ng-class="{'active' : tab==2}" translate='horario.passageiro'></a></li>
      </ul>

      <div class="tabs-container">
          <div class="tab-content" ng-show="tab == 1" id = "tab1">
              <div class="panel-body">
                <table class="table table-striped tabelaHorario">
                  <thead>
                  <tr class = "colorHorario">
                    <th class="item" translate='diaDaSemana'></th>
                    <th class="item" translate='aula'></th>
                    <th class="item" translate='tipoDeCarona'></th>
                    <th class="item" translate='vagas'></th>
                      <th class="item" translate='bairro'></th>
                      <th class="item" translate='rua'></th>
                  </tr>
                  </thead>
                    <tbody>
                    <tr ng-repeat="caro in caronas">
                        <td class="item">{{caro.horario.dia}}</td>
                        <td class="item">{{caro.horario.aula}}</td>
                        <td class="item">{{caro.tipo}}</td>
                        <td class="item">{{caro.vagas}}</td>
                        <td class="item">{{caro.endereco.bairro}}</td>
                        <td class="item">{{caro.endereco.rua}}</td>'
                    </tr>
                    </tbody>
                </table>
              </div>
          </div>
        <div class="tab-content" ng-show="tab == 2" id = "tab1">
          <div class="panel-body">
            <table class="table table-striped tabelaHorario">
              <thead>
              <tr class = "colorHorario">
                <th class="item" translate='diaDaSemana'>Dia Semana</th>
                <th class="item" translate='aula'>Aula</th>
                <th class="item" translate='tipoDeCarona'>Tipo</th>
                <th class="item" translate='vagas'>Vagas</th>
                <th class="item" translate='telefone'> Telefone Motorista</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="caro in caronas">
                <td class="item">{{caro.horario.dia}}</td>
                <td class="item">{{caro.horario.aula}}</td>
                <td class="item">{{caro.tipo}}</td>
                <td class="item">{{caro.vagas}}</td>
                <td class="item">{{caro.motorista.telefone}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
   </div>
</div>


</body>
