<body xmlns="http://www.w3.org/1999/html">
<div class="row" >
  <div class="col-md-12">
    <div id="bemVindo">
      <h3>
        Bem-vindo à página de notificações!

      </h3>
      <h4>Aqui você encontra pedidos pendentes, aceitos e rejeitados</h4>

    </div>
  </div>

  <div class="col-md-12 text-center">
    <ul class="pagination">
      <li>
        <a href="#">Pagina Anterior</a>
      </li>
      <li>
        <a href="#">Prox Página</a>
      </li>
    </ul>
  </div>
</div>


<div class="row" id = "news">

  <div class="col-md-2">
    <div id='cssmenu'>
      <ul>
        <li> <a class="button hvr-bounce-to-bottom" href='#' ><span>CARONAS BEM-SUCEDIDAS</span></a> </li>
        <li> <a class="button hvr-sweep-to-top" href='#' ><span>CARONAS MAL-SUCEDIDAS</span></a> </li>
        <li> <a class="button hvr-bounce-to-left" href='#' ><span>CARONAS PENDENTES</span></a> </li>
      </ul>
    </div>
  </div>

  <div ng-repeat="solicitacao in solicitacoes">
    <div class="col-md-3">
      <div class="panel panel-primary"  id = "panelNotification">
        <div class="panel-heading">
          <b>Carona-me</b>
        </div>
        <div class="panel-body">
          <a href="../html-link.htm">
            <div align="middle">
              <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                   height="70" width="70" >
            </div>
          </a>
          <p></p>
          <p id="fonteNotification">
            <b>Nome</b>: {{solicitacao.passageiro.nome}} &nbsp &nbsp<br>
            <b>Aul. Prop.</b>: {{solicitacao.carona.horario.dia}}: {{solicitacao.carona.horario.aula}} <br>
            <b>Tipo</b>: {{solicitacao.carona.tipo}}<br>
            <b>Bairro</b>: {{solicitacao.carona.endereco.bairro}}<br>
            <b>Bairro</b>: {{solicitacao.carona.endereco.rua}}<br>
            <b>Status</b>: Pendente<br>

          </p>
          <br>
          <div style="text-align: center;">

            <button type="button" data-toggle="modal" data-target="#myModal" id = "aceitarCarona" class="btn btn-default;">
              Aceitar
            </button>
            <button type="button" id = "rejeitarCarona" class="btn btn-default">
              Rejeitar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" >
  <div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog modal-sm notificationPop">
      <div class="modal-content notificationPop">
        <div class="modal-header notificationPopText">
          <button type="button" class="close notificationPopText" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Você aceitou a carona!</h4>
        </div>
        <div class="modal-body notificationPopText">
          <p id="alignText">>O telefone do passageiro é :<br> (083) 99999-3333></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
