<body xmlns="http://www.w3.org/1999/html">
<div class="row" >

  <div class="col-md-12">
    <div id="bemVindo">
      <h3>{{ 'bemvindoNotificacoes' | translate }}</h3>
      <br>
      <h4>{{ 'saudacaoNotificacoes' | translate }}</h4>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <ul class="pagination">
      <li>
        <a ng-click="buscarSolicitacoes('anterior')">{{ 'antPag' | translate }}</a>
      </li>
      <li>
        <a ng-click="quantidadeElementosPagina < 3 || buscarSolicitacoes('proxima')">{{ 'proxPag' | translate }}</a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="list-group">
    <div class="divNotify" ng-repeat="notificacao in notificacoes">
      <a class="list-group-item notify">{{notificacao.message}}<span title = "Descartar Notificação" ng-click="descartaNotify($index)"class="badge">Descartar</span></a>
    </div>
  </div>
</div>


</body>

