* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: #fff;
    font: 13px Arial, Tahoma, sans-serif;
}
.container {
 /*   padding: 50px;*/
    margin: auto;
}

#bemVindo:hover{
  background-color: rgb(0,121,140);
}

#tab1{
  background-color: rgba(0,121,192,0.3);
}

#oferecerCarona{
  background-color: rgb(0,121,192);
}

#oferecerCarona:hover{
  background-color: rgb(0,121,140);
}

#buscarCarona{
  background-color: rgb(0,121,192);

}

#buscarCarona:hover{
  background-color: rgb(0,121,140);

}

.tabs-container {
    position:relative;
    right: -20px;
}

.tabs-nav {
    padding: 15px 0 0;
    list-style: none;
    position:relative;
    right: -20px;
}
.tabs-nav li {display: inline;}
.tabs-nav a {
    display:inline-block;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    font-size: 12px;
    color: #fff;
    background: rgb(0,121,192);
}

.tabs-nav a:hover {
  color: #fff;
}



.tabs-nav .active {
    background: rgb(0,121,140);
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-content{
    border: 1px solid #ddd;
    width: 800px;
    height: 350px;
  /*  padding: 20px;*/
}

.colorHorario{
    color:#ffffff;
}

.tabelaHorario{
    display: block;
    height: 250px;
    padding-top: 5px;
    overflow-y: scroll;
}

.item {
    width: 120px;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

#HeadPanelHorario{
    position:relative;
    right: -50px;
}

#fixaPanel{
  padding-top: 150px;
  position:relative;
  right: -50px;
  text-align: center;
}
